<section class="section tweets-section">
  <div class="columns">
    <div class="column is-one-third tweets-left is-full-height">
      <h1 class="title has-text-black has-text-left has-text-weight-bold is-size-5">Hello, @<%= @user.username %>!</h1>

      <p><a href="/tweets" class="subtitle user-menu is-size-6 is-size-7-touch"><i class="fas fa-home fa-sm"></i> &nbsp;Dashboard</a><br>
      
      <a href="/tweets/new" class="subtitle user-menu is-size-6 is-size-7-touch"><i class="fas fa-quote-left fa-sm"></i> &nbsp;New Tweet</a><br>

      <a href="/logout" class="subtitle user-menu is-size-6 is-size-7-touch"><i class="fas fa-sign-out-alt fa-sm"></i> &nbsp;Log Out</a></p>
    </div>

    <div class="column tweets-right">
      <h1 class="title has-text-weight-semibold is-size-3-desktop is-size-5-mobile has-text-grey-dark">Create a New Tweet</h1>
      
      <textarea rows="5" cols="40" autofocus="autofocus" name="content" form="create_tweet" placeholder="Type your tweet here..."></textarea>

      <form action='/tweets' method="post" id="create_tweet">
        <div class="field">
          <input type="submit" name="submit" id="submit" class="submit-btn button is-small is-hover" value="Submit">
        </div>          
      </form>
    </div>
  </div>
</section>

