<h1> Create a new Tweet </h1>

  <form action='/tweets' method="POST">
    Content:
    <br>
    <textarea name="content"></textarea>
    <br>

    <input type="submit" value="Create Your Tweet">

  </form>