<h3 class="title">Create a New Tweet</h3>

<textarea rows="5" cols="40" autofocus="autofocus" name="content" form="create_tweet" placeholder="Enter your text here...">
</textarea>

<form action='/tweets' method="post" id="create_tweet">
  <input type="submit" name="submit" class="submit-btn" value="Submit">
</form>



