<section class="hero signup-hero is-fullheight">
  <div class="container signup-container">
      <div class="columns is-vcentered ">
      <div class="column is-half is-centered">
        <h1 class="title signup-left has-text-white is-size-3-desktop is-size-4-touch">Stay connected with friends & the rest of the world...<br><br>
        Join Fwitter today!</h1>
      </div>

      <div class="column form-style">
        <h1 class="title has-text-weight-semibold is-size-5-desktop is-size-6-touch has-text-centered	">Create Your Account</h1><hr>

        <form action="/signup" method="post">
          <div class="field">
            <label for="username" class="has-text-left"><i class="fas fa-user"></i> Username</label><br>
            <input type="text" name="username">
          </div>

          <div class="field">
            <label for="email" class="has-text-left"><i class="fas fa-envelope"></i> Email</label><br>
            <input type="text" name="email">
          </div>

          <div class="field">
            <label for="password"><i class="fas fa-lock"></i> Password</label><br>
            <input type="text" name="password">
          </div>

          <div class="field">
            <input type="submit" class="submit-btn button is-fullwidth is-inverted" value="Sign up">
          </div>      
        </form>
      </div>
    </div>
  </div>
</section>
