<div class="columns">
	<div class="column is-vcentered is-half sign-up">
    <h1 class="img-text has-text-weight-bold is-size-4-desktop is-size-6-touch">Log in & post some new tweets...<br><br>
    Join in on the conversation!</h1>
	</div>

  <div class="column is-center  form-style">
		<h1 class="has-text-weight-semibold is-size-5-desktop is-size-6-touch">Log in to Fwitter</h1>
    <br>
    
    <form action="/login" method="post">
      <p><label for="username"><i class="fas fa-user"></i> Username</label><br>
      <input type="text" name="username">
      </p>

      <p><label for="password"><i class="fas fa-lock"></i> Password</label><br>
      <input type="text" name="password"></p>

      <input type="submit" value="Login" id="submit" class="submit-btn">
    </form>
	</div>
</div>