<section class="index-hero hero is-fullheight">
  <div class="container index-container">
    <h1 class="title has-text-white is-size-1-desktop is-size-3-touch is-size-4-mobile">Welcome to Fwitter!</h1>
    <h2 class="subtitle has-text-white is-size-4-desktop is-size-6-touch">Please sign up or log in to access your Fwitter account.</h2>

    <div class="field is-grouped">
      <p class="control">
        <a href="/login" class="button is-info is-size-6">Log In</a>
      </p>
      <p class="control">
        <a href="/signup" class="button is-size-6">Sign Up</a>
      </p>
    </div>
  </div>
</section>



